<!DOCTYPE html>
<html>
  <head>
    <title>MuutForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Secure', secure_forums_path %></li>
    <li><%= link_to 'Authorized', authorized_forums_path %></li>
    <li><%= link_to 'Comments', commenting_forums_path %></li>
  </ul>
    <%= yield %>
  </body>
</html>
